/*
 * @author Deux Huit Huit
 * 
 * Active Collab Timer Mobile Css File
 */
#timer {
	position: relative;
}

/**********************************/
#timer #timer-display {

}

#timer #timer-display .button_holder {
	width: 90%;
	padding-right: 18px;
	margin-left: 17px;
}

#timer .button_holder .ui-btn {
	height: 55px;
	width: 50%;
	margin: 20px auto 0;
	padding: 15px 10px;
	color: #656565;
	font-size: 25px;
	border: 1px solid #BEBFB9;
	background: none;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#D7D7D7));
	background-image: -webkit-linear-gradient(top, #F9F9F9, #D7D7D7);
	background-image: -moz-linear-gradient(top, #F9F9F9, #D7D7D7);
	background-image: -ms-linear-gradient(top, #F9F9F9, #D7D7D7);
	background-image: -o-linear-gradient(top, #F9F9F9, #D7D7D7);
	background-image: linear-gradient(top, #F9F9F9, #D7D7D7);
}
#timer .button_holder .ui-btn.ui-btn-hover-f {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#D7D7D7), to(#F9F9F9));
	background-image: -webkit-linear-gradient(top, #D7D7D7, #F9F9F9);
	background-image: -moz-linear-gradient(top, #D7D7D7, #F9F9F9);
	background-image: -ms-linear-gradient(top, #D7D7D7, #F9F9F9);
	background-image: -o-linear-gradient(top, #D7D7D7, #F9F9F9);
	background-image: linear-gradient(top, #D7D7D7, #F9F9F9);
}

#timer #timer-display #timer-start {

}

#timer #timer-display #timer-submit {

}

#timer #timer-display #timer-time-wrap {
	width: 90%;
	padding-right: 18px;
	margin-left: 17px;
}

#timer #timer-display #timer-time {
	width: 60%;
	height: 100px;
	margin: 0 auto;
	display:block;
}

#timer #timer-display #timer-time #timer-time-current {
	font-size: 90px;
	line-height: 100px;
}

/**********************************/
#timer #timer-current-task {
	font-size: 18px;
}
#timer #timer-current-task h3 {
	font-size: 1.3em;
}

/**********************************/
#timer #timer-footer {

}

#timer #timer-footer .button_holder .ui-btn {
	width: 90%;
}

#timer  #timer-footer #timer-add {
	
}

/*
 * End Active Collab Timer Mobile Css File
 */
 
 #timer #page-project {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
 }