/*
 * @author Deux Huit Huit
 * 
 * Active Collab Timer Mobile Css File
 */
#timer {
	position: relative;
}

#timer ul{
	list-style: none;
}

#timer ul a.ui-btn {
	line-height: 55px;
	vertical-align: middle;
}

/**********************************/

#timer #timer-display .button_holder {
	width: 90%;
	padding-right: 18px;
	margin-left: 17px;
}

#timer .button_holder .ui-btn {
	width: 80%;
	margin: 20px auto 0;
}

#timer #timer-display #timer-time-wrap {
	width: 50%;
	display: inline-block;
}

#timer #timer-display #timer-time {
	width: 60%;
	height: 100px;
	margin: 0 auto;
	display:block;
}

#timer #timer-display #timer-time #timer-time-current {
	font-size: 90px;
	line-height: 100px;
}

/**********************************/
#timer #timer-current-task {
	font-size: 18px;
	line-height: 25px;
}

#timer #timer-current-task h3 {
	font-size: 1.3em;
}

/**********************************/

#timer #timer-footer .button_holder .ui-btn {
	width: 90%;
}

#timer #timer-start-wrap {
	width: 24%;
	display: inline-block;
}

#timer #timer-submit-wrap {
	width: 24%;
	display: inline-block;
}

#timer #page-project-tasks, #timer #page-projects, #timer #page-submit {
	display: none;
}

#timer #page-project-tasks h2, #timer #page-projects h2, #timer #page-submit h2 {
	font-size: 30px;
}

#timer #page-submit input{
	text-align: center;
}

#timer #page-submit #page-submit-btn {
	margin-top: 20px;
	font-size: 30px;
}

#timer #page-submit p {
	font-size: 20px;
}

#timer #page-submit .ui-grid-a label {
	font-size: 25px;
}

#timer-current-task-delete {
	cursor: pointer;
}


#timer .ui-checkbox .ui-btn-icon-left .ui-btn-inner, .ui-radio .ui-btn-icon-left .ui-btn-inner {
	padding-left: 75px;
}

 .ui-content form {
	padding-right: 25px !important;
}

/*
 * End Active Collab Timer Mobile Css File
 */
